<h1>Create a new post:</h1>

<div>
<%=form_with model: @article do |form|%>
<%=form.label :title%>
<%=form.text_field :title%>

<%=form.label :body%>
<%=form.text_field :body%>

<%=form.submit%>
<%end%>
</div>